$on-tablet-width: 640px !default;
$on-desktop-width: 1280px !default;
$grid-columns-mobile: 4 !default;
$grid-columns-tablet: 8 !default;
$grid-columns-desktop: 12 !default;
$column-width-for-tablet: 70px !default;
$column-width-for-desktop: 72px !default;
